.products-gallery2 {
  > .product-card2:nth-of-type(1n) {
    float: left;
    width: 18rem;
    margin: 10px;
    padding: 10px;
    border: lightgray 2px solid;
    border-radius: 10px;
    img {
      width: 100%;
    }
  }
  > div:nth-of-type(2n) {
    display: none;
    margin: 0;
    padding: 0;
    clear: both;
    width: 0;
  }
  :last-child {
    display: block !important;
  }
  border-bottom: #721c24 2px dashed;
}
@media (min-width: 1230px) {
  .products-gallery2 {
    > div:nth-of-type(2n) {
      display: none;
    }
    div:nth-of-type(6n) {
      display: block;
    }
  }
}
@media (max-width: 1230px) {
  .products-gallery2 {
    > div:nth-of-type(2n) {
      display: none;
    }
    div:nth-of-type(6n) {
      display: block;
    }
  }
}
@media (max-width: 923px) {
  .products-gallery2 {
    > div:nth-of-type(2n) {
      display: none;
    }
    div:nth-of-type(8n) {
      display: block;
    }
  }
}
