.product-gallery3 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  > div {
    width: 18rem;
    margin: 10px;
    img {
      width: 100%;
    }
    > div{
      border: lightgray 2px solid;
      border-radius: 10px;
      padding: 10px;
    }
  }
  border-bottom: #721c24 2px dashed;
}
