.products-gallery {
  max-width: 1140px;
  > div {
    width: 18rem;
    margin: 10px 0px;
    :only-child {
      border: lightgray solid 2px;
      border-radius: 5px;
    }
  }
  border-bottom: #721c24 2px dashed;
}
